.wishesEdit.wrapper
  - case @wish.purpose
  - when "friend"
    %h3 友達申請
    = @wish.comment
    .wishesEdit__comment
      = "#{@wish.from_name}さんと友達になりますか？"
    = form_with(model:@wish,local:true) do |f|
      =f.hidden_field :status,value:"ok"
      =f.submit "はい",class:"wishesEdit__formBtn--btn formbtn"
    = form_with(model:@wish,local:true) do |f|
      =f.hidden_field :status,value:"ng"
      = f.submit "いいえ",class:"wishesEdit__formBtn--btn formbtn"

  - when "borrow"
    %h3 貸出申請
    = render partial: "wish-books", collection: @books,as: "book"
    = @wish.comment
    = form_with(model:@wish,local:true) do |f|
      = f.date_field :deadline,selected:@wish.deadline
      %p.wishesEdit__comment
        この内容で貸出を許可しますか？
      = f.submit "貸し出す",class:"wishesEdit__formBtn--btn formbtn",name:"OK"
      = f.submit "やめる",class:"wishesEdit__formBtn--btn formbtn",name:"NG"

  - when "return"
    %h3 返ってきた本
    = render partial: "wish-books", collection: @books,as: "book"
    = @wish.comment
    = form_with(model:@wish,local:true) do |f|
      = f.hidden_field :status,value:"ok"
      どちらの本棚にしまいますか？
      = f.fields_for :@books do |i|
        = i.select :status,[["開架（貸出可能）","open"],["書庫（貸出不可）","close"]]
      = f.submit(class:"wishesEdit__formBtn--btn formbtn",value:"本をしまう")

