.wishesEdit.wrapper
  - case @wish.purpose
  - when "friend"
    %h3 友達申請
    = @wish.comment
    .wishesEdit__comment
      = "#{@wish.from_name}さんと友達になりますか？"
    = form_with(model:@wish,local:true) do |f|
      =f.hidden_field :status,value:"ok"
      =f.submit(class:"wishesEdit__formBtn--btn formbtn",value:"はい")
    = form_with(model:@wish,local:true) do |f|
      =f.hidden_field :status,value:"ng"
      = f.submit(class:"wishesEdit__formBtn--btn formbtn",value:"いいえ")

  - when "borrow"
    %h3 貸出申請
    = render partial: "wish-books", collection: @books,as: "book"
    = @wish.comment
    = form_with(model:@wish,local:true) do |f|
      =f.date :deadline,value:@wish.deadline
      %p.wishesEdit__comment
        この内容で貸出を許可しますか？
      = f.submit(class:"wishesEdit__formBtn--btn formbtn",name:"wish[status]",value:"ok")
        貸し出す
      = f.submit(class:"wishesEdit__formBtn--btn formbtn",name:"wish[status]",value:"ng")
        やめる

  - when "return"
    %h3 返ってきた本
    = render partial: "wish-books", collection: @books,as: "book"
    = @wish.comment
    = form_with(model:@wish,local:true) do |f|
      = f.hidden_field :status,value:"ok"
      どちらの本棚にしまいますか？
      = f.fields_for :@books do |i|
        = i.select :status,[["開架（貸出可能）","open"],["書庫（貸出不可）","close"]]
      = f.submit(class:"wishesEdit__formBtn--btn formbtn",value:"本をしまう")

