.entrance.wrapper
  .entrance__title
    %h1 わたしとしょかん

  .entrance__menu
    .entrance__menu__new
      = link_to new_user_path do
        %h3 新規登録はこちら
  
    .entrance__menu__login
      %h3 ろぐいん
      = form_with(local: true,url:"/user_sessions",method: :post) do |form|
        .entrance__menu__login--field
          = form.label :email
          = form.text_field :email
        .entrance__menu__login--field
          = form.label :password
          = form.password_field :password
        .entrance__menu__login--submit
          = form.submit


