.entrance.wrapper
  .entrance__title
    わたしとしょかん

  = link_to new_user_path do
    新規登録はこちら
  
  .entrance__login
    ろぐいん
    = form_with(local: true,url:"/user_sessions",method: :post) do |form|
      .field
        = form.label :email
        = form.text_field :email
      .field
        = form.label :password
        = form.password_field :password
      .actions
        = form.submit


