= form_with(model: user, local: true) do |form|
  - if user.errors.any?
    #error_explanation
      %h2
        = pluralize(user.errors.count, "error")
        prohibited this user from being saved:
      %ul
        - user.errors.full_messages.each do |message|
          %li= message
  .field
    = form.label :ニックネーム
    = form.text_field :nickname
  .field
    = form.label :ユーザーID
    = form.text_field :name
  .field
    = form.label :メールアドレス
    = form.text_field :email
  .field
    = form.label :パスワード
    = form.password_field :password
  .field
    = form.label :パスワード再入力
    = form.password_field :password_confirmation
  .actions
    = form.submit value:"新規登録",class:"formbtn"
