.usersShow__wishes
  -case wish.purpose
  -when "friend"
    -if wish.for_id == current_user.id
      %span.usersShow__wishes__wish--title
        = "#{User.find(wish.from_id).nickname}さんから友達申請が届いています"
      .wishInfo__friend
        = link_to "確認","/users/#{current_user.id}/wishes/#{wish.id}/edit"
    - else
      %span.usersShow__wishes__wish--title
        = "#{User.find(wish.for_id).nickname}さんに友達申請を出しました"
      .wishInfo__friend
        承認待ち
  -when "borrow"
    -if wish.for_id == current_user.id
      %span.usersShow__wishes__wish--title
        = "#{User.find(wish.from_id).nickname}さんから貸出申請が届いています"
      .wishInfo__borrow
        = link_to "確認","/users/#{current_user.id}/wishes/#{wish.id}/edit"
    - else
      %span.usersShow__wishes__wish--title
        = "#{User.find(wish.for_id).nickname}さんに貸出申請を出しました"
      .wishInfo__borrow
        承認待ち
  -when "return"
    - if wish.for_id == current_user.id
      %span.usersShow__wishes__wish--title
        = "#{User.find(wish.from_id).nickname}さんから本が返ってきました"
      .wishInfo__return
        = link_to "確認","/users/#{current_user.id}/wishes/#{wish.id}/edit"
    - else
      %span.usersShow__wishes__wish--title
        = "#{User.find(wish.for_id).nickname}さんに本を返しました"
      .wishInfo__return
        承認待ち
