= render "layouts/header"
.booksShow.wrapper
  .booksShow__book--cover
    %img{src:"#{@book.cover}"}
  .booksShow__book--title
    %h3
      = @book.title
  .booksShow__book--author
    = @book.author
  .booksShow__book--publisher
    = @book.publisher
  .booksShow__book--description
    = @book.description
  .booksShow__book--status
    現在の本棚：
    - case @book.status
    - when "open"
      = "開架"
    - when "close"
      = "書庫"
    - when "lending"
      -if @book.user_id == current_user.id
        = "貸出中"
      - else
        = "借りている本"

  .booksShow__impressions
    感想一覧
    .booksShow__impressions__impression
      - if @impressions
        - @impressions.each do |impression|
          .impression
            = link_to "#{impression.user.nickname}","/users/#{impression.user_id}/bookshelves"
            = "：#{impression.comment}"
    - if current_user
      =form_with(model: [@book,@impression],id: "impression_new",local:true) do |f|
        =f.text_area :comment,placeholder: "感想を入力",rows: "2",class:"impression-textarea"
        =f.submit "感想を書く",class:"impression-submit"

